.about_title {
    color: #3347de;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

.mission_title {
    color: #ffffff;
    font-size: 50px;
}

.mission_statement {
    color: #ffffff;
    font-size: 25px;
    line-height: 1.5em;
    letter-spacing: 1px;
}