.about_us {
    margin-top: 225px;
    margin-left: 30px;
    text-align: left;
}

.origins {
    text-align: center;
    margin-top: 225px;
}

.employee_container {
    margin-top: 60px;
}

.growing_team {
    margin-top: 300px;
}